<app-main-layout>
    <div>
        <h2>Manager Users</h2>
        <a
            routerLink="/users/new"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            style="text-decoration: none;"
        >
            Create new user
        </a>
    </div>
    <div>
        <table class="table table-bordered table striped table-hover table-responsive-xl">
            <thead class="thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>Photos</th>
                    <th (click)="onChangeSort('email', sortDir === 'asc' ? 'desc' : 'asc')">
                        <span class="me-2">Email</span>
                        <span *ngIf="sortField === 'email'">
                            <fa-icon class="icon-silver" [icon]="sortDir === 'asc' ? faSortUp : faSortDown" />
                        </span>
                    </th>
                    <th (click)="onChangeSort('firstName', sortDir === 'asc' ? 'desc' : 'asc')">
                        <span class="me-2">First Name</span>
                        <span *ngIf="sortField === 'firstName'">
                            <fa-icon class="icon-silver" [icon]="sortDir === 'asc' ? faSortUp : faSortDown" />
                        </span>
                    </th>
                    <th>Last Name</th>
                    <th>Roles</th>
                    <th>Enabled</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of listUser">
                    <td>{{user.id}}</td>
                    <td><fa-icon class="fa-3x icon-silver" [icon]="faPortrait" /></td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>
                        <p *ngFor="let role of user.roles">{{role.name}}</p>
                    </td>
                    <td>
                        <div *ngIf="user.enabled; else disabled">
                            <fa-icon class="icon-green" [icon]="faCheckCircle" />
                        </div>
                        <ng-template #disabled>
                            <fa-icon class="icon-dark" [icon]="faCheckCircle" />
                        </ng-template>
                    </td>
                    <td>
                        <a href="/users/edit/{{user.id}}" title="Edit this user">
                            <fa-icon class="icon-green" [icon]="faEdit" />
                        </a>
                        &nbsp;
                        <fa-icon (click)="onDeleteUser(user.id)" class="icon-dark" [icon]="faTrash" />
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center m-1" *ngIf="totalItems > 0">
            <span>
                Showing user # {{(page - 1) * pageSize + 1}} to {{page * pageSize}} of {{totalItems}}
            </span>
            
        </div>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li
                        class="page-item"
                        (click)="onChangePage(page - 1)"
                        [ngClass]="{'disabled': page === 1}"
                    >
                        <div class="page-link">Previous</div>
                    </li>
                    <li
                        class="page-item"
                        *ngFor="let col of [].constructor(totalPage); let c = index"
                        [ngClass]="{'active': c + 1 === page}"
                        (click)="onChangePage(c + 1)"
                    >
                        <div class="page-link">{{c + 1}}</div>
                    </li>
                    <li 
                        class="page-item"
                        [ngClass]="{'disabled': page === totalPage}"
                        (click)="onChangePage(page + 1)"
                    >
                        <div class="page-link">Next</div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</app-main-layout>