<app-main-layout>
    <div>
        <h2>Manager Users</h2>
        <a
            routerLink="/users/new"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            style="text-decoration: none;"
        >
            Create new user
        </a>
    </div>
    <div>
        <table class="table table-bordered table striped table-hover table-responsive-xl">
            <thead class="thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>Photos</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Roles</th>
                    <th>Enabled</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of listUser">
                    <td>{{user.id}}</td>
                    <td><fa-icon class="fa-3x icon-silver" [icon]="faPortrait" /></td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>
                        <p *ngFor="let role of user.roles">{{role.name}}</p>
                    </td>
                    <td>
                        <div *ngIf="user.enabled; else disabled">
                            <fa-icon class="icon-green" [icon]="faCheckCircle" />
                        </div>
                        <ng-template #disabled>
                            <fa-icon class="icon-dark" [icon]="faCheckCircle" />
                        </ng-template>
                    </td>
                    <td>
                        <a href="/users/edit/{{user.id}}" title="Edit this user">
                            <fa-icon class="icon-green" [icon]="faEdit" />
                        </a>
                        &nbsp;
                        <fa-icon (click)="onDeleteUser(user.id)" class="icon-dark" [icon]="faTrash" />
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</app-main-layout>