<div class="container-fluid text-center">
    <a class="navbar-brand" routerLink="/">
        <img src="ShopmeAdminBig.png" />
    </a>
    
    <form 
    [formGroup]="loginForm"
    style="max-width: 350px; margin: 0 auto;"
    (ngSubmit)="onSubmit()"
    >
        <div class="border border-secondary rounded p-3">
            <p>Access to Shopme Control Panel</p>
            <div class="pb-2">
                <app-common-input
                    type="email" 
                    formControlName="email"
                    [value]="loginForm.get('email')?.value"
                    placeholder="Email"
                    [inputControl]="email"
                    [ruleValidators]="errorEmail"
                ></app-common-input>
            </div>

            <div>
                <app-common-input
                    type="password" 
                    formControlName="password"
                    [value]="loginForm.get('password')?.value"
                    placeholder="Password"
                    [inputControl]="password"
                    [ruleValidators]="errorPassword"
                ></app-common-input>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3"/>
            </div>
        </div>
    </form>
</div>