/* You can add global styles to this file, and also import other style files */
.error {
    color: red;
}

.icon-white {
    color: white;
}

.icon-green {
    color: green;
}

.icon-silver {
    color: silver;
}

.icon-dark {
    color: gray;
}