.custom-input {
    display: flex;
    flex-direction: column;
    
}
input {
    height: 32px;
    padding: 4px 8px;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #fafafa;
    &:hover {
        border: none;
    }
}